<!-- Main container -->
<% if cookies[:saved_subscriber] %>
  <div class="success-message">
    <p>Vous êtes inscrit !</p>
  </div>
<% else %>
  <div class="newsletter-form">
    <%= form_for @subscriber do |f| %>
      <%= f.text_field :name, placeholder: "Nom", class: "input-field" %>
      <%= f.text_field :surname, placeholder: "Prénom", class: "input-field" %>
      <%= f.email_field :email, placeholder: "E-mail", class: "input-field" %>
      <%= f.select :category, options_for_select(["Actualité", "Culture"]), {}, class: "input-field" %>
      <%= f.submit "S'inscrire à la Newsletter", class: "submit-button" %>
    <% end %>
  </div>
<% end %>

<div class="container py-4">
  <h4 class="rounded-background">Derniers articles en ligne</h4>
      <div class="mt-3 cards-hp mx-auto">
        <% @posts.each do |post| %>
          <div class="card-trip">
            <% if post.image.attached? %>
              <% if post.image.variable? %>
                <%= image_tag post.image %>
            <% else %>
              <video controls>
                <source src="<%= url_for(post.image) %>" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <% end %>
          <% end %>
            <div class="card-trip-infos">
              <div>
                 <strong><%= link_to post[:title], post_path(post[:id]) %></strong>
              </div>
              <p class="card-trip-pricing"><%= post[:category] %></p>
            </div>
          </div>
        <% end %>
      </div>
</div>
