<div class="container pt-5">
  <%= simple_form_for @post, data: { turbo: false }, html: { class: "form" } do |form| %>
    <div class="form-inputs">
      <%= form.input :title, label: "Titre de l'article", input_html: { class: "form-control" } %>
      <%= form.input :category, label: "Catégorie de l'article", input_html: { class: "form-control" } %>
      <%= form.input :content, label: "Contenu de l'article", as: :text, input_html: { class: "form-control", rows: 6 } %>
      <br>
      <%= form.file_field :images, label: "URL de l'image", input_html: { class: "form-control" } %>
    </div>
    <br>
    <div class="form-actions">
      <%= form.button :submit, "Créer l'article", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
