<div class="container-post mt-3 mb-3">
  <h2><%= @post.title %></h2>
  <p class="post-category"><%= @post.category %></p>
  <p class="post-date"><%= @post.created_at.strftime("%d %B %Y") %></p>
  <% if @post.image.attached? %>
    <% if @post.image.variable? %>
      <%= image_tag @post.image, class: "post-image" %>
    <% else %>
      <div class="video-container">
        <video controls class="post-video">
          <source src="<%= url_for(@post.image) %>" type="video/webm">
          Your browser does not support the video tag.
        </video>
      </div>
    <% end %>
  <% end %>
  <div class="form-group">
    <div class="content">
      <%= @post.content.html_safe %>
    </div>
  </div>
  <% if user_signed_in? && current_user == @post.user %>
    <div class="d-flex justify-content-between">
      <%= link_to "Editer l'article", edit_post_path(@post), class: "btn btn-primary" %>
      <%= button_to "Supprimer", {:controller => :posts, :action => 'destroy', :id => @post.id }, :method => :delete, class: "btn btn-danger" %>
    </div>
  <% end %>
</div>
